#todo2
    .box
        background-color: #8f6d6d
        width: 400px
        display: flex
        h1
            font-size: 50px
            color: #ffffff
        input
            
            border: 1px
            color: #ba3a3a





